@import '../../color-code.scss';

#dashboardMainSection {
    display: flex;
    flex-direction: column;
    .container {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        transition: 0.3s;
        padding: 16px;
        background: $white-color;
        width: inherit;
        margin-bottom: 48px;
        .blog-detail {
            display: flex;
            flex-direction: row;
            .author-detail {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                span {
                    font-size: 13px;
                }
                .avtar-image {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 8px;
                }
            }
            h2 {
                margin-top: 8px;
                margin-bottom: 6px;
                a {
                    color: black;
                    text-decoration: none;
                }
            }
            img {
                &.blog-image {
                    margin-right: 16px;
                    height: 134px;
                    width: 200px;
                    // width: webkit-fill-available;
                    // width: moz-available;
                    // width: fill-available;
                }
            }
            .blog-text-detail {
                display: flex;
                flex-direction: column;
                .blog-detail-text {
                    color: $gray-color;
                    margin-top: 0px;
                    font-style: normal;
                    font-size: 1em; /* 14px/16=0.875em */
                    font-weight: normal;
                    font-variant: normal;
                    margin-bottom: 16px;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
                .blog-view-detail {
                    display: flex;
                    flex-direction: row;
                    color: $gray-color;
                    span {
                        margin-right: 5px;
                        font-style: normal;
                        font-size: 14px; /* 14px/16=0.875em */
                        font-weight: normal;
                        font-variant: normal;
                    }
                }
            }
        }
    }
}