.font-weight-500 {
    font-weight: 500;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.arial-font {
    font-family: Arial, Helvetica, sans-serif;
}
